button {
  font-size: 15px;
  padding: 20px;
  margin: 5px;
  /* background-color: black; */
  /* border-radius: 45%; */
  border: solid black;
}

button:hover {
  background-color: black;
  color: white;
}

.clear {
  padding: 20px 75px;
}

.zero {
  padding: 20px 85px;
}