body {
  background-color: black;
  color: white;
}


.row1, .row2, .row3, .row4, .row5, .user {
  display: flex;
  margin: auto;
}

.row1 div, .row2 div, .row3 div, .row4 div, .row5 div{
  font-size: 40px;
  border: solid white;
  border-radius: 100px;
  padding: 10px 20px;
  margin: 10px;
}


.row1 div:hover, .row2 div:hover, .row3 div:hover, .row4 div:hover, .row5 div:hover {
  background-color: white;
  color: black;
}